.grid {
    width:400px ;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
 }
 .box {
    color: red;
    border: 1px solid blue;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    z-index: 1;
}
